.home-container {
  text-align: center;
  margin-top: 80px;
}

.home-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.actions {
  margin-top: 30px;
}

.btn {
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.secondary {
  background-color: #64748b;
}
