/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0d6efd; /* Bootstrap primary */
  --light-bg: #f8faff;
}

body {
  background-color: var(--light-bg);
  font-family: "Inter", "Segoe UI", sans-serif;
}

/* Card standard */
.card {
  border: none;
  border-radius: 12px;
}

/* Buttons */
.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}
