server:
  port: 8083

spring:
  application:
    name: department-service

  datasource:
    url: jdbc:mysql://localhost:3306/perilla_dept
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

